.scrollBtnContainer {
	position: absolute;
	left: 50%;
	margin-left: -42px;
	bottom: 15%;
	height:40px;
	display: inline;
}
.scrollBtnContainer:hover {
	cursor: default;
}
.scrollBtn {
	position: relative;
	-webkit-animation-name: moveVertical;
	-webkit-animation-duration:0.8s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
}
@-webkit-keyframes moveVertical {
  0% {top:0;}
  50% {top:8px;}
  100% {top:0;}
}
.backgroundImg {
	position: absolute;
	min-width: 100%;
	height: calc(155% + 20px);
	top: -55%;
    left: -9999px;
    right: -9999px;
    margin: 0 auto;
	display: block;
}
.slide {
	position: relative;
	overflow: hidden;
	height: 100%;
	width: 100%;
}
.slide p {
	color: white;
	font-family: "Helvetica";
	font-size: 1.2em;
	background-color: rgba(0,0,0,0.5);
	display: inline;
	cursor: default;
}
p .heading {
	font-size: 1.6em;
}
p .footnote {
	font-size: 0.8em;
}
#part2 p {
	position: absolute;
	width: 600px;
	left: 40%;
	top: 15%;
	padding: 0.5em;
	opacity: 1;
}
#part3 p {
	position: absolute;
	background-color: rgba(0,0,0,0.5);
	width: 600px;
	left: 20%;
	top: 20%;
	opacity: 1;
	padding: 0.5em;
	display: block;
}