html, body {
	height: 100%;
}
.scrollBtnContainer {
	position: absolute;
	left: 50%;
	margin-left: -42px;
	/*margin-right: auto;*/
	bottom: 15%;
	/*vertical-align: baseline;*/
	height:40px;
	display: inline;
}
.scrollBtnContainer:hover {
	cursor: default;
}
.scrollBtn {
	position: relative;
	-webkit-animation-name: moveThis;
	-webkit-animation-duration:0.8s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
}
@-webkit-keyframes moveThis {
  0% {top:0;}
  50% {top:8px;}
  100% {top:0;}
}
.offscreen {
	display: block;
	left: -999999px;
	position: absolute;
	top: -999999px;
}
.before:before{
	display: inline-block;
	content: '';
}
.navBar .social .social-icon {
	display: none;
}
.backgroundImg {
	position: absolute;
	min-width: 100%;
	height: calc(155% + 20px);
	top: -55%;
    left: -9999px;
    right: -9999px;
    margin: 0 auto;
	-webkit-filter: blur(1.5px);
	display: block;
}
.slide {
	position: relative;
	overflow: hidden;
	height: 100%;
	width: 100%;
}
.slide p, .slide ul {
	color: white;
	font-family: "Helvetica";
	font-size: 1.2em;
	background-color: rgba(0,0,0,0.5);
	display: inline;
	cursor: default;
}
p .heading {
	font-size: 1.6em;
}
p .footnote {
	font-size: 0.8em;
}
#part2 p {
	position: absolute;
	width: 600px;
	left: 40%;
	top: 15%;
	padding: 0.5em;
	opacity: 1;
}
#part3 p {
	position: absolute;
	background-color: rgba(0,0,0,0.5);
	width: 600px;
	left: 20%;
	top: 20%;
	opacity: 1;
	padding: 0.5em;
	display: block;
}
#part3 ul {
	position: relative;
	display: block;
	background-color: rgba(0,0,0,0);
	margin-top: 10px;
	margin-bottom: 0px;
}
#part3 ul li {
	width: 60%;
	margin: 0px;
	/*display: inline-block;*/
}

footer {
	height: 40px;
	background-color: black;
	color: white;
	text-align: center;
	line-height: 40px;
	font-family: "Helvetica", "Arial", sans-serif;
	/*display: none;*/
}
#jsLibs {
	float: right;
	display: inline;
	position: relative;
	right: 0px;
	/*width: 32%;*/
	height: inherit;
	/*background-color: rgba(255,255,255,0.5);*/
}
.jsLogo {
	height: 30px;
	vertical-align: middle;
	margin-left: 5px;
	-webkit-filter: blur(0px);
	-webkit-filter: drop-shadow(1px 1px 1px #fff);
	filter: drop-shadow(1px 1px 1px #fff);
}
