/*html {
	width: 1280px;
}*/
html, body, div, span, img {
	margin: 0px;
	padding: 0px;
}
#titleContainer {
	position: absolute;
	width: 100%;
	text-align: center;
	top: 10%;
	font-family: "Source Sans Pro", adobe-clean;
	font-size: 160px;
	font-weight: lighter;
	/*font-family: Helvetica;*/
	color: white;
	-webkit-font-stretch: condensed;
}
#scrollBtnContainer {
	position: absolute;
	left: 50%;
	margin-left: -42px;
	/*margin-right: auto;*/
	bottom: 10%;
	/*vertical-align: baseline;*/
	height:40px;
	display: inline;
}
#scrollBtn {
	position: relative;
	-webkit-animation-name: moveThis;
	-webkit-animation-duration:0.8s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
}
@-webkit-keyframes moveThis {
  0% {top:0;}
  50% {top:8px;}
  100% {top:0;}
}
.navBar {
	height: 60px;
	width: 100%;
	color: white;
	background-color: white;
	display: none;
	z-index: 100;
	position: fixed;
	top: 0px;
}
.scrollToTop{
	width:50px; 
	height:50px;
	padding:10px; 
	text-align:center; 
	background: whiteSmoke;
	font-weight: bold;
	color: #444;
	text-decoration: none;
	position:fixed;
	bottom:65px;
	right:40px;
	display:none;
	background: url('backToTop.png') no-repeat 0px 20px;
}
.scrollToTop:hover{
	text-decoration:none;
}
.backgroundImg {
	width: 100%;
	/*margin-top: -500px;*/
}
#part1 {
	/*background: url('part1bg.jpg');*/
	/*background-size: 100% 100%;*/
	/*background-color: black;*/
	/*height: 100%;*/
	/*background-size: 100% 100%;*/
	/*text-align: center;*/
	/*z-index: 5;*/
	overflow: hidden;
}

#part2 {
/*background: green;
z-index: 100;*/
overflow: hidden;
}

#part3 {
	overflow: hidden;
}


/*
.parallax {
    height: 500px; 
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
  }

  .parallax__group {
    position: relative;
    height: 500px; 
    height: 100vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .parallax__layer--fore {
    -webkit-transform: translateZ(90px) scale(.7);
    transform: translateZ(90px) scale(.7);
    z-index: 1;
  }

  .parallax__layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 4;
  }

  .parallax__layer--back {
    -webkit-transform: translateZ(-300px) scale(2);
    transform: translateZ(-300px) scale(2);
    z-index: 3;
  }

  .parallax__layer--deep {
    -webkit-transform: translateZ(-600px) scale(3);
    transform: translateZ(-600px) scale(3);
    z-index: 2;
  }*/